@use 'src/styles/vars';

.category{
    background-color: vars.$greenColor;
    padding: 3.2em;
    border-radius: 12px;

    &-title{
        color:#FFF;
    }
}
.category:hover{
    border:solid 2px vars.$greenColor;
    background-color: #FFF;

    .category-title{
        color: vars.$greenColor;
    }

}