@use 'src/styles/vars';

.container-app {
  min-height: 99vh;
  font-size: 0.9em;

  .app {
    background-color:vars.$backgroundGrey;
    width: 80%;
    height: 76vh;
    margin:auto;
  }
  .container-technologies{
    margin-top:2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.2em;
  }
  h3{
    font-size: 1em;
  }
  h4{
    font-size: 0.9em;
  }
  p{
    font-size: 0.8em;
  }
}