@use 'src/styles/vars';

.listTechnologies{
    border:2px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 12px;
    background-color: vars.$backgroundBlack;
    width: 270px;
    height: 390px;

    &-title{
        border-bottom:solid black 2px;
        height: 80px;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: vars.$greenColor;
        border-radius: 12px 12px 0 0;
    }
}